@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb; /* gray-50 */
  --foreground: #111827; /* gray-900 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
